@charset 'utf-8'

// Variables
$font-stack:    Helvetica, sans-serif
$color-yellow: #ede05c
$color-lightblue: #86cad6
$color-grey: #221f20
$color-white: #fff
$padding-main: 30px

// Mixins
@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

// Import

// heading tags
h1
  text-align: center
  font-size: 6rem
  color: $color-grey
  text-shadow: 3px 3px 0 $color-yellow
  font-weight: bold
  font-family: 'Lobster', cursive
  line-height: 1.1

h2
  text-align: center
  font-size: 3rem
  font-weight: bold  

// generals
html
  font-size: 62.5%

a
  text-decoration: none

body
  font: 100% $font-stack
  font-size: 1.6rem
  color: $color-grey
  line-height: 1.5

#wrapper_inner
  width: 100%

// header
header
  .header-top
    width: 100%
    padding: 30px
    @include flexbox()
    justify-content: space-between
    background-color: $color-lightblue

header ul,
footer ul
  width: 100%
  background-color: $color-yellow
  line-height: 2.7
  @include flexbox()
  flex-direction: row

  li a
    color: darken($color-yellow, 50%)
    display: block
    width: 100px
    text-align: center
    padding: 10px
    font-weight: bold

  // slide gallery
#home-slide
  width: 100%
  height: 300px
  overflow: hidden

  li
    float: left

// columns
.col-2
  @include flexbox()
  flex-direction: row
.col-2>*
  width: 46%
  padding: 2%
