@charset 'utf-8'

// Variables
$font-stack:    Helvetica, sans-serif
$color-yellow: #ede05c
$color-lightblue: #86cad6
$color-grey: #221f20
$color-white: #fff
$padding-main: 30px

// Mixins
@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin rotate($degrees)
    -webkit-transform: rotate($degrees)
    -moz-transform: rotate($degrees)
    -ms-transform: rotate($degrees)
    -o-transform: rotate($degrees)
    transform: rotate($degrees)

// generals
html
  font-size: 62.5%

a
  text-decoration: none

body
  font: 100% $font-stack
  font-size: 1.6rem
  color: $color-grey
  line-height: 1.5

#wrapper_inner
  width: 100%

// heading tags
h1 img
  width: 410px
  display: block

// just in case h1
h1.h1-text
  text-align: center
  font-size: 6rem
  color: $color-grey
  text-shadow: 3px 3px 0 $color-yellow
  font-weight: bold
  font-family: 'Lobster', cursive
  line-height: 1.1

h2
  text-align: center
  font-size: 3.5rem
  color: $color-grey
  font-weight: bold
  position: relative 

// header
header
  .header-top
    width: 100%
    padding: 30px 0
    @include flexbox()
    justify-content: space-evenly
    background-color: $color-lightblue

  .event-date
    font-size: 2.5rem
    font-weight: bold
    background-color: $color-grey
    color: $color-white
    padding: 10px
    height: 100%
    margin-top: 20px
    @include rotate(20deg)
    @include border-radius(10px)

header ul,
footer ul
  width: 100%
  background-color: $color-yellow
  line-height: 2.7
  @include flexbox()
  justify-content: space-evenly
  flex-direction: row

  li a
    color: darken($color-yellow, 50%)
    display: block
    width: 100px
    text-align: center
    padding: 10px
    font-weight: bold

  // slide gallery
#home-slide
  width: 100%
  height: 300px
  overflow: hidden
  margin-bottom: 20px

  li
    float: left

// columns
.col-2
  @include flexbox()
  flex-direction: row
  *
    width: 46%
    padding: 2%
  img
    width: 80%
    display: block
    margin: 0 auto