@charset 'utf-8'

$font-stack:    Helvetica, sans-serif
$primary-color: #333

html
  font-size: 62.5%

body
  font: 100% $font-stack
  color: $primary-color
  line-height: 1.5

header ul
  background-color: #333333
  color: #ffffff
  line-height: 2.7